

/*barre nav*/
@import 'https://fonts.googleapis.com/css?family=Raleway';


#menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.70);
    margin-top: 30px;
	height: 90px;

}
.nav1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 53%;

}
.img1{
margin-left: 25px;
margin-top: -20px;
height: 170px;
}
.img2{
margin-top: -26px;
height: 150px;
transition: .3s ease-in-out;
}
.img2:hover{
margin-top: -40px;
transform: scale(1.5);
}
.nav2{

	display: flex;
	flex-direction: row;
	margin-top: 6px;
	margin-right: 25px;
    margin: 0 auto;
	text-align: center;
}

.nav2 a
{

    color: white;
    text-decoration: none;
    font-family: 'Candara';
    font-size: 20px;
    position: relative;
    z-index: 0;
    cursor: pointer;
	margin-left: 40px;
}
.nav2 a:hover{
   color:#F73307;
}

.nav2 a:before, .nav2 a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #F13939;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

.nav2 a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

.nav2 a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-10%) scale(1);
}

.nav2 a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-10%) scale(1.5);
}

/*page index*/
.bodya{
background:url("img/background-index.jpg")top left/100% 100% ;
background-attachment:fixed;
width: 100%;
margin: 0px;
}
.reserver {
  background-color: rgba(161, 17, 12, 0.8);
  color: white;
  font-family: 'Impact';
  font-size: 25px;
  border-radius: 25px;
  padding: 15px;
  margin: 70px;
  margin-left: 700px;
  cursor: pointer;
  width: 500px;
 
}
.reserver:hover {
   background-color: rgba(161, 17, 12, 1);
}
#userco h3{
    background-color: rgba(255, 255, 255, 0.7);
	text-align: right;
	margin-top: 0px;
	font: 20px Consolas;
	padding: 10px;
}
#userco h3 u{

	color: #96390D;
}
#intro{
	display: flex;
	flex-direction: column;
}
#tache1{
	display: flex;
	flex-direction: row;
	width: 100%;
	
}
#picture1{
	display: flex;
	flex-direction: row;
	animation: anim_postx 6s
}
@keyframes anim_postx{

from {
transform: translatex(200%)
}
to {

transform: translatex(0%)

}
}
#tache2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;

}
#picture2{
	display: flex;
	flex-direction: row;
	animation: anim_post 6s 
}
@keyframes anim_post{

from {
transform: translatex(-200%)
}
to {

transform: translatex(0%)

}
}
.pic1, .pic2, .pic3, .pic4, .pic5, .pic6{
	border-style:solid;
	border-radius: 15px;
	width: 370px;
	height: 270px;
	margin: 20px;
	margin-right: 5px;

}
#picture1 p,#picture2 p{
	font: 26px Courier New;
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.70);
	margin-top: 50%;

}
.pic1{
	background:url("img/paintball-enfant.jpg")top left / 100% 100%;
}
.pic2{
	background:url("img/paintball1.jpg")top left / 100% 100%;
}
.pic3{
	background:url("img/paintball-anniv.jpg")top left / 100% 100%;
}
.pic4{
	background:url("img/paintball-famille.jpg")top left / 100% 100%;
}
.pic5{
	background:url("img/paintball2.png")top left / 100% 100%;
}
.pic6{
	background:url("img/paintball3.jpg")top left / 100% 100%;
}

#present{
	background-color: rgba(161, 17, 12, 0.58);
	text-align: center;
	border-radius: 20px;
	width: 50%;
	margin-left: 23%;
	padding: 30px;

	
}
#present h1, #video h1, footer h2{
	color: white;
	font: 40px Courier New;
	margin: 0px;
}
#present h3,#video h3{
	color: #E8BF66;
	margin-top: 3px;
	font: 18px Courier New;	
}
#present h2{
    font: 45px Candara;
    color: #F3DA74;
}
#para{
	display: flex;
	flex-direction: row;
}
.text {
	color: white;
	font-family: 'Candara';
	font-size: 18px;
	text-align: left;
	margin: 25px;
}
.text u{
	color: #E8BF66;
}
#video{
	
	text-align: center;
	margin-top: 150px;
}
.deco{
	background-color: rgba(161, 17, 12, 0.8);
	border-radius: 50px;
	width: 30%;
	margin-left: 35%;
	margin-bottom: 30px;
	padding: 10px;

}


/*page connexion*/
.bodyc{
	background:url("img/background-con.png")top left/100% 100%;
	background-attachment:fixed;
	margin: 0px;
}
#connexion{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 100px;
}
.form{
  position: relative;
  border-radius: 5px;
  background-color: rgba(161, 17, 12, 0.7);
  padding: 30px;
  margin-top: 50px;
  width: 40%;
  margin-left: 120px;
}
.login{
	border-style:solid;
	border-color: #F3DA74;
	border-radius: 10px;
	font: 25px Candara;
    color: #F3DA74;
	padding: 20px;
}
.connect{
  color: white;
  font: 25px Courier New;
  text-align: center;

}
.connect h2{
	margin-top: 0px;
}
input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}
input[type=text]:hover, input[type=password]:hover{
   opacity: 1;
}
input[type=submit] {
    background-color: #3E5173;
    color: #F3DA74;
    padding: 14px 20px;
    font-family: 'Géorgie';
    font-size: 20px;
    width: 300px;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    margin: 20px;
    margin-left: 200px;
 
}
input[type=submit]:hover {
    background-color: #D0DADB;
    color: #5C6F63;
    
}
.new{
	background-color: rgba(0, 0, 0, 0.65);
	font: 26px Candara;
	color: #F3DA74;
	text-align: center;

}
.erreur{
	color:red;
	background-color: rgba(255, 255, 255, 0.7);
}
.inscri{
	font: 20px Candara;
	color: white;
}
.btn{
	color:#F3DA74; 
}
.paint{
	margin:60px;
}

/*Page inscription*/
.bodyi{
	background:url("img/background-inscr.jpg")top left / 100% 100%;
	background-attachment: fixed;
	margin: 0px;
}
/*page profil*/

.bodyp{
	background:url("img/background-pro.jpg")top left / 100% 100%;
	background-attachment: fixed;
	margin: 0px;
}

/*page planning*/
.bodyt{
	background:url("img/background-plan.jpg")top left / 100% 100%;
    background-attachment: fixed;
    margin: 0px;
}
#choix{
	background: rgba(10, 67, 102, 0.9);
	border-radius: 50px;
	width: 50%;
	margin-left: 100px;
	margin-bottom: 0px;
	margin-top: 80px;
	padding: 10px;
	color: white;
	font: 25px Courier New;
	text-align: center;
}

table {
 
  left: 10%;
  margin: 25px auto;
  overflow-y: scroll;
  position: static;
  width: 50%;
  box-shadow: 10px 5px 5px gray;
}

th {
  background: rgba(161, 17, 12, 0.6);
  font: 25px Candara;
  color: #F3DA74;
  font-weight: 100;
  letter-spacing: 3px;
  text-align: center;
  padding: 12px;
  width: 33.3333%;
  
}
tr {
  background: rgba(10, 67, 102, 0.9);
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;

}
td {
  font-family: 'Lato';
  font-size: 18px;
  color: white;
  font-weight: 400;
  padding: 12px;
  text-align: center;
  width: 33.3333%;
}
td a{
	color:#F3DA74;
}
/*réservation-form*/

#reservation-formbody{

background: url("img/background-reserv.jpg")top left/100% 100%;
background-attachment: fixed;
margin: 0px;
}

#reservation-form-section{
   text-align: center;
   margin: 20px;
   margin-top: 14%;
   background: rgba(161, 17, 12, 0.6);
   padding: 30px;
   border-radius: 35px;

}

#h1reservation-form{

	color: white;
    font: 40px Courier New;
    text-align: center;
	text-shadow: black;
}
.labelreservationform ::placeholder{
	color:green;
}

.labelreservationform{

  font: 25px Candara;
  color: #F3DA74;

}

.input-reservation-form{

	color:green;
	font-size: 25px;
}

#bouton-reservation-form{

	height: 10%;
	width: 10%;
}

#selectreservation-form{
    height: 45px;
    width: 270px;
    font-size: 19px;
    color:green;
    border-radius: 10px;
}
.reserv-form input[type=text], .reserv-form input[type=datetime-local]
{
  width: 270px;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}
input[type=text]:hover, input[type=password]:hover{
   opacity: 1;
}

/*accés aux pages mode déconnexion*/
#notcon{
	background-color: rgba(161, 17, 12, 0.8);
	border-radius: 20px;
	margin: 15%;
	padding: 2%;
	font: 40px Candara;
	color: #F3DA74;
	text-align: center;
}

/*footer*/
footer{
	background-color: rgba(0, 0, 0, 0.70);
	color:white;
	text-align: center;
	margin-top: 100px;
	padding-top: 60px;
	display: flex;
    flex-direction: column;
}
.contact {
  background-color: rgba(18, 52, 89, 0.7);
  color: white;
  font-family: 'Impact';
  font-size: 25px;
  border-radius: 50px;
  padding: 15px;
  margin-bottom: 30px;
  cursor: pointer;
  width: 500px;
 
}
.contact:hover {
   background-color: rgba(18, 52, 89, 1);
}

